USE [master]
GO
/****** Object:  Database [TechEmpire]    Script Date: 25/6/2025 15:44:41 ******/
CREATE DATABASE [TechEmpire]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TechEmpire', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TechEmpire.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TechEmpire_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TechEmpire_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechEmpire].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechEmpire]
GO
/****** Object:  Table [dbo].[DV]    Script Date: 25/6/2025 15:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DV](
	[Tabla] [nvarchar](20) NOT NULL,
	[DVH] [varchar](64) NULL,
	[DVV] [varchar](64) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 25/6/2025 15:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[CodEvento] [bigint] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NULL,
	[Modulo] [varchar](50) NULL,
	[Evento] [varchar](100) NULL,
	[Criticiad] [smallint] NULL,
	[Fecha] [varchar](11) NULL,
	[Hora] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 25/6/2025 15:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[CodigoProducto] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](150) NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Color] [varchar](50) NULL,
	[ImgUrl] [varchar](150) NULL,
	[Precio] [float] NOT NULL,
	[Stock] [smallint] NOT NULL,
	[StockMinimo] [smallint] NULL,
	[StockMaximo] [smallint] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25/6/2025 15:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[CodRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 25/6/2025 15:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[NombreUsuario] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Mail] [varchar](100) NOT NULL,
	[Clave] [varchar](100) NOT NULL,
	[Rol] [int] NULL,
	[Bloqueo] [bit] NULL,
	[Activo] [bit] NULL,
	[ContFallidos] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DV] ([Tabla], [DVH], [DVV]) VALUES (N'Productos', N'4274e1de4cbec5e6332e83994eea7de9531d4a6e5c143d74dfedd11b2e076a35', N'7234ef86e5c778be567923924570744fcc2b6db29b91e64e472ed5b9f05890bd')
GO
INSERT [dbo].[Productos] ([CodigoProducto], [Nombre], [Descripcion], [Marca], [Color], [ImgUrl], [Precio], [Stock], [StockMinimo], [StockMaximo], [Activo]) VALUES (1, N'RTX 3090 NVIDIA MSI', N'Tamaño de la memoria: 24 GB GDDR6X', N'NVIDIA MSI', N'Negro', N'', 1700000, 30, 20, 50, 1)
INSERT [dbo].[Productos] ([CodigoProducto], [Nombre], [Descripcion], [Marca], [Color], [ImgUrl], [Precio], [Stock], [StockMinimo], [StockMaximo], [Activo]) VALUES (2, N'Teclado Razer', N'Switch Red', N'Razer', N'Negro', N'', 200000, 30, 20, 50, 1)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([CodRol], [Nombre]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([CodRol], [Nombre]) VALUES (2, N'WebMaster')
INSERT [dbo].[Roles] ([CodRol], [Nombre]) VALUES (3, N'Cliente')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[Usuarios] ([NombreUsuario], [DNI], [Nombre], [Apellido], [Mail], [Clave], [Rol], [Bloqueo], [Activo], [ContFallidos]) VALUES (N'Admin', 12345678, N'Admin', N'Admin', N'admin@gmail.com', N'5ac0852e770506dcd80f1a36d20ba7878bf82244b836d9324593bd14bc56dcb5', 1, 0, 1, 0)
INSERT [dbo].[Usuarios] ([NombreUsuario], [DNI], [Nombre], [Apellido], [Mail], [Clave], [Rol], [Bloqueo], [Activo], [ContFallidos]) VALUES (N'EstebanRodriguez', 42134823, N'Esteban', N'Rodriguez', N'estebanrodriguez@gmail.com', N'5ac0852e770506dcd80f1a36d20ba7878bf82244b836d9324593bd14bc56dcb5', 3, 0, 1, 0)
INSERT [dbo].[Usuarios] ([NombreUsuario], [DNI], [Nombre], [Apellido], [Mail], [Clave], [Rol], [Bloqueo], [Activo], [ContFallidos]) VALUES (N'FacundoDiaz', 39256827, N'Facundo', N'Diaz', N'facundodiaz@gmail.com', N'5ac0852e770506dcd80f1a36d20ba7878bf82244b836d9324593bd14bc56dcb5', 4, 0, 1, 0)
GO
/****** Object:  Index [UQ__Usuarios__C035B8DDA78D2498]    Script Date: 25/6/2025 15:44:42 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Eventos]  WITH CHECK ADD FOREIGN KEY([NombreUsuario])
REFERENCES [dbo].[Usuarios] ([NombreUsuario])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([Rol])
REFERENCES [dbo].[Roles] ([CodRol])
GO
/****** Object:  StoredProcedure [dbo].[ModificarBloquearUsuario]    Script Date: 25/6/2025 15:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificarBloquearUsuario]
    @DNI int,
	@Bloqueo bit
AS
BEGIN

    UPDATE Usuarios SET Bloqueo= @Bloqueo WHERE DNI = @DNI;
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarContFallido]    Script Date: 25/6/2025 15:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificarContFallido]
    @NombreUsuario varchar(50),
	@ContClaveIncorrecta smallint
AS
BEGIN
    UPDATE Usuarios SET ContFallidos = @ContClaveIncorrecta where NombreUsuario = @NombreUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[RecalcularDVHTabla]    Script Date: 25/6/2025 15:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RecalcularDVHTabla] 
	-- Add the parameters for the stored procedure here
	@DVH varchar(64),
	@Tabla nvarchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE DV SET DVH = @DVH WHERE Tabla = @Tabla
END
GO
/****** Object:  StoredProcedure [dbo].[RecalcularDVVTabla]    Script Date: 25/6/2025 15:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RecalcularDVVTabla] 
	-- Add the parameters for the stored procedure here
	@DVV varchar(64),
	@Tabla nvarchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE DV SET DVV = @DVV WHERE Tabla = @Tabla
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarEvento]    Script Date: 25/6/2025 15:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--RESPALDO
CREATE PROCEDURE RealizarBackUp
    @RutaBackUp varchar(260)
AS
BEGIN
    BACKUP DATABASE CarpetaIngSoftware TO DISK= @RutaBackUp
END
GO


CREATE PROCEDURE [dbo].[RegistrarEvento]
    @NombreUsuario varchar(50),
	@Modulo varchar(50),
	@Evento varchar(100),
	@Criticidad smallint,
	@Fecha varchar(11),
	@Hora varchar(5)
AS
BEGIN
    INSERT INTO Eventos VALUES (@NombreUsuario, @Modulo, @Evento, @Criticidad, @Fecha, @Hora)
END
GO
/****** Object:  StoredProcedure [dbo].[ValidarUsuario]    Script Date: 25/6/2025 15:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidarUsuario]
    @NombreUsuario varchar(50),
	@DNI int,
	@Email varchar(50)
AS
BEGIN
    SELECT * FROM Usuarios U 
	INNER JOIN Roles R ON U.Rol = R.CodRol
	WHERE NombreUsuario = @NombreUsuario OR DNI = @DNI OR Mail = @Email

END
GO
USE [master]
GO
